/INSTALL
Makefile.in
Makefile
/pkgconfig/*.pc
/aclocal.m4
/autom4te.cache/
/config.guess
/config.sub
/configure
/depcomp
/install-sh
/ltmain.sh
/m4/
/missing
/src/config.h.in
/src/config.h
/config.log
/config.status
/cxxtools-config
.deps
/include/cxxtools/config.h
/libtool
stamp-h1
*.l[ao]
*.o
.libs
