Source: cxxtools
Priority: optional
Maintainer: Tommi Maekitalo <t.maekitalo@epgmbh.de>
Build-Depends: debhelper (>= 4.0.0)
Standards-Version: 3.6.0

Package: cxxtools-dev
Section: devel
Architecture: any
Depends: cxxtools (= ${Source-Version})
Description: cxxtools is my toolbox with reusable c++-components
 cxxtools is my toolbox with reusable c++-components
 This package contains the development files.

Package: cxxtools
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: cxxtools is my toolbox with reusable c++-components
 cxxtools is my toolbox with reusable c++-components
 This package contains the library files.
